*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(238, 241, 245);
    font-family: sans-serif;
}

.container1 {
    background-color: white;
    
}

.main-container {
    background-color: white;
    width: 80%;
    margin: 30px auto 100px auto;
    padding: 15px 0;
    padding-bottom: 30px;
     border-radius: 10px;
}

.Add{
    display: inline-block;
    border: 2px  solid rgb(238, 241, 245);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.line{
    width: 100%;
    color: rgb(238, 241, 245);
}
.Task{
    background-color: rgba(17, 179, 233, 0.927);
    margin-left: 25px;
}
ul{
    list-style: none;
    padding: 0 20px;
}
.list-section{
    padding-top: 20px;
}
li{
    padding: 5px;
}
.circle{
    border-radius: 50%;
    height: 17px;
    width: 17px;
    line-height: 17px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-right: 15px;
}

.check{
    border: 2px solid rgb(133, 243, 133);
    color: rgb(133, 243, 133);
}
.cross{
    border: 2px solid rgb(243, 133, 133);
    color: rgb(243, 133, 133);
}
.tag{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 10px;
}
.Editorial{
    background-color: rgba(17, 179, 233, 0.927);
    color: white;
}
.Q1{
    background-color: rgb(214, 108, 252);
    color: white;
}
.Recruiting{
    background-color: rgb(105, 222, 183);
    color: white;
}
.Mobile{
    background-color: coral;
    color: white;
}
.Website{
    background-color: rgb(245, 88, 195);
    color: white;
}
.Sales{
    background-color: chartreuse;
    color: white;
}
